@page
@using SAMI_SIKON.Model;
@model SAMI_SIKON.Pages.Rooms.DesignerModel
@{
}

<div>
    <form method="post" asp-page-handler="NameChange" asp-route-id="@Model.RoomId" asp-route-layout="@Model.RoomLayout" asp-route-name="@Model.RoomName">
        <div class="form-group">
            <h2>
                Rum Navn:
                <input asp-for="@Model.Name" class="form-control" />
            </h2>
        </div>
        <div class="form-group">
            <input type="submit" value="Bekræft Navn" class="btn btn-primary" />
        </div>
    </form>

    <div class="grid" style="position:relative;float:left;top:4vh;">
        @for (int x = 0; x < Model.GridHeight; x++) {
            @for (int y = 0; y < Model.GridWidth; y++) {
                char c = Model.Room.Layout[x][y];

                <form method="post" asp-page-handler="Cycle" asp-route-id="@Model.RoomId" asp-route-layout="@Model.RoomLayout" asp-route-name="@Model.RoomName" asp-route-x="@x" asp-route-y="@y">
                    <input type="image" src="@Room.GetImageSource(c)" alt="@Room.GetImageAltText(c)" style="position:absolute;top:@Model.GetOffset(x);left:@Model.GetOffset(y);width:@Model.GetSymbolSize();height:auto;" />
                </form>

            }
        }
    </div>

    <div style="width:2vw;float:right;">
        <form method="post" asp-page-handler="WidthDecrease" asp-route-id="@Model.RoomId" asp-route-layout="@Model.RoomLayout" asp-route-name="@Model.RoomName">
            <input type="submit" style="width:100%;" name="width_decrease" value="<" />
        </form>
        <form method="post" asp-page-handler="WidthIncrease" asp-route-id="@Model.RoomId" asp-route-layout="@Model.RoomLayout" asp-route-name="@Model.RoomName">
            <input type="submit" style="width:100%;" name="width_increase" value=">" />
        </form>
        <form method="post" asp-page-handler="HeightDecrease" asp-route-id="@Model.RoomId" asp-route-layout="@Model.RoomLayout" asp-route-name="@Model.RoomName">
            <input type="submit" style="width:100%;" name="height_decrease" value="/\" />
        </form>
        <form method="post" asp-page-handler="HeightIncrease" asp-route-id="@Model.RoomId" asp-route-layout="@Model.RoomLayout" asp-route-name="@Model.RoomName">
            <input type="submit" style="width:100%;" name="height_increase" value="\/" />
        </form>
    </div>

    <div style="float:right;position:relative;top:20vh;">

        @if (Model.RoomId <= 0) {
            <form method="post" asp-page-handler="Create" asp-route-id="@Model.RoomId" asp-route-layout="@Model.RoomLayout" asp-route-name="@Model.RoomName">
                <input type="submit" name="create" value="Create" />
            </form>
        } else {
            <form method="post" asp-page-handler="Update" asp-route-id="@Model.RoomId" asp-route-layout="@Model.RoomLayout" asp-route-name="@Model.RoomName">
                <input type="submit" name="update" value="Update" />
            </form>
        }

    </div>

</div>