@page
@using SAMI_SIKON.Model;
@model SAMI_SIKON.Pages.Rooms.IndexModel
@{
}

<h2>
    Rum: @Model.Room.Name; Oplæg: @Model.GetEventNameAsync().Result
</h2>

<div class="grid" style="position:relative;float:left;top:4vh;">
    @for (int x = 0; x < Model.GridHeight; x++) {
        @for (int y = 0; y < Model.GridWidth; y++) {
            char c = Model.Room.Layout[x][y];

            if (c == Room.SeatSymbol) {
                if (Model.SeatTaken(x, y).Result) {
                    <input type="image" src="~/pictures/Seat_Taken.png" alt="Booket Plads" style="position:absolute;top:@Model.GetOffset(x);left:@Model.GetOffset(y);width:@Model.GetSymbolSize();height:auto;" />
                } else {
                    if (Model.SeatSelected(x, y)) {
                        <input type="image" src="~/pictures/Seat_Selected.png" alt="Valgt Plads" style="position:absolute;top:@Model.GetOffset(x);left:@Model.GetOffset(y);width:@Model.GetSymbolSize();height:auto;" />
                    } else {
                        <form method="post" asp-page-handler="Select" asp-route-id="@Model.EventId" asp-route-x="@x" asp-route-y="@y">
                            <input type="image" src="@Room.GetImageSource(c)" alt="@Room.GetImageAltText(c)" style="position:absolute;top:@Model.GetOffset(x);left:@Model.GetOffset(y);width:@Model.GetSymbolSize();height:auto;" />
                        </form>
                    }
                }
            } else {
                <input type="image" src="@Room.GetImageSource(c)" alt="@Room.GetImageAltText(c)" style="position:absolute;top:@Model.GetOffset(x);left:@Model.GetOffset(y);width:@Model.GetSymbolSize();height:auto;" />
            }
        }
    }
</div>

@if(Model.GetSelectedSeat() > 0) {
    <div style="float:right;position:relative;top:20vh;">
        <form method="post" asp-page-handler="Chooce" asp-route-id="@Model.EventId" asp-route-x="@Model.SelectedSeatColumn" asp-route-y="@Model.SelectedSeatRow">
            <input type="submit" name="chooce" value="Vælg Plads" />
        </form>
    </div>
}
