@page
@using SAMI_SIKON.Services;
@model SAMI_SIKON.Pages.Events.EventModel
@{
}

<div class="col-xl-5" style="float:left;margin:auto;">

    <div style="background-color:cornsilk;">
        <h2 class="text-sm-center">@Model.Name</h2>
        <h6 class="text-sm-center">@Model.GetSpeakerNames().Result</h6>
    </div>

    <div class="border border-dark" style="margin-top:1vh;overflow:hidden;">

        <div style="text-align:center;width:34%;float:left;">
            <p class="border border-info btn" style="margin-top:1em;">Seats Left: @Model.Event.SeatsLeft</p>
        </div>

    @if (!Model.HasBooking()) {
        <form method="post" asp-page-handler="Book">
            <input type="hidden" asp-for="@Model.EventId" /> <!--ensure that EventId is in scope-->
            <input type="hidden" asp-for="@Model.Tooltip" /> <!--ensure that Tooltip is in scope-->
            <div style="text-align:center;width:33%;float:left;">
                @if (await Model.CanBook()) {
                    <input class="border border-primary btn" style="margin-top:1em;" type="submit" value="Book Plads" data-toggle="tooltip" data-placement="bottom" title="@Model.Tooltip"/>
                } else {
                    <input class="border border-primary btn" style="margin-top:1em;" type="submit" value="Book Plads" data-toggle="tooltip" data-placement="bottom" title="@Model.Tooltip" disabled/>
                }
            </div>
        </form>
    } else {
        <form method="post" asp-page-handler="Unbook">
            <input type="hidden" asp-for="@Model.EventId" /> <!--ensure that EventId is in scope-->
            <div style="text-align:center;width:33%;float:left;">
                <input class="border border-primary btn" style="margin-top:1em;" type="submit" value="Afbestil Plads" />
            </div>
        </form>
    }

    @if (!Model.HasBooking()) {
        <form method="post" asp-page-handler="Chooce">
            <input type="hidden" asp-for="@Model.EventId" /> <!--ensure that EventId is in scope-->
            <div style="text-align:center;width:33%;float:right;">
                @if (!Model.HasSeat()) {
                    @if (await Model.CanBook()) {
                        <input class="border border-secondary btn" style="margin-top:1em;" type="submit" value="Vælg Plads" data-toggle="tooltip" data-placement="bottom" title="@Model.Tooltip" />
                    } else {
                        <input class="border border-secondary btn" style="margin-top:1em;" type="submit" value="Vælg Plads" data-toggle="tooltip" data-placement="bottom" title="@Model.Tooltip" disabled />
                    }
                } else {
                    <input class="border border-secondary btn" style="margin-top:1em;" type="submit" value="Ændre Plads" />
                }
            </div>
        </form>
    }
    </div>

</div>

<div class="col-xl-7" style="float:right;margin:auto;">
    <p>@Model.Description</p>
</div>