@page
@model SAMI_SIKON.Pages.Login.UserPageModel
@{
}

<h2>Brugerside</h2>
<p></p>
@if (Model.Created==1)
{
    <div class="alert alert-success">
        Success, bruger opretted
    </div>
}
<p></p>
<form method="post" asp-page-handler="pword">
    <div class="form-group">
        <label asp-for="@Model.UserPassword" class="custom-control-label">Nuværende kodeord</label>
        <input type="password" asp-for="@Model.UserPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewPassword1" class="custom-control-label">Nyt kodeord</label>
        <input type="password" asp-for="@Model.NewPassword1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewPassword2" class="custom-control-label">Gentag nyt kodeord</label>
        <input type="password" asp-for="@Model.NewPassword2" class="form-control" />
    </div>
    <input type="submit" value="Ændr Kodeord" class="btn btn-primary" />
</form>
<p></p>
@if (Model.ErrorMessage != null)
{
    @if (Model.ErrorMessage.StartsWith("Incorrect") | Model.ErrorMessage.StartsWith("New Password") | Model.ErrorMessage.StartsWith("Password not"))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }
}
<p></p>
@if (Model.SuccessMessage != null)
{
    @if (Model.SuccessMessage.StartsWith("Password"))
    {
        <div class="alert alert-success">
            @Model.SuccessMessage
        </div>
    }
}

<p> </p>
<p> </p>
<p> </p>
<form method="post" asp-page-handler="deleteuser">
    <input type="submit" value="Slet bruger" class="btn btn-danger" />
</form>
